
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  width: 70%;
  margin: 20px auto;
}

.intro {
  line-height: 1.2;
  font-size: 20px;
}

.intro-table {
  margin: 20px auto;
}

.intro-table tr:nth-child(even) {
  background: #f2f2f2;
}

.intro-table td, .intro-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.sort-me {
  display: block;
  margin: 20px auto;
  width: 300px;
  height: 100px;
  font-size: 40px;
  background: gray;
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
